<div class ="button-div">
    <button class="button-button button-img-you" routerLink="/info/{{id}}"><div class="text-botton">Информация о счете</div></button>
    <button class="button-button button-img-give" routerLink="/put/{{id}}"><div class="text-botton">Положить деньги на счет</div></button>
    <button class="button-button button-img-money" routerLink="/withdraw/{{id}}"><div class="text-botton">Снять деньги со счета</div></button>
    <button class="button-button button-img-work" routerLink="/close/{{id}}"><div class="text-botton">Закрыть свой счет</div></button>
  </div>