
<!-- <div class="header-div-button">
    <button class="header-button" > Информация о счете</button> 
    <button class="header-button" >Закрыть счет</button> 
  </div>
  <div class="header-div-button">
    <button class="header-button" >Положить на счет</button>
    <button class="header-button" >Снять с счета</button> 
  </div>
  
  <button class="header-button" value="Положить на счет">
    <div class="text-button">Положить на счет</div>
    <img class="img-button" src="../../../assets/images/good.png"> 
    
    
  </button> -->
  
  <div class ="button-div">
    <button class="button-button button-img-happy" routerLink="/newuser"><div class="text-botton">Я новенький</div></button>
    <button class="button-button button-img-hi" routerLink="/signin"><div class="text-botton">Войти</div></button>
  </div>
  