<div class="text">
    <h1>PozniakoFF сегодня</h1>
    <p>Один из крупнейших банков Беларуси по размеру активов и трендсеттер в сфере цифровизации белорусского банкинга.</p>

    <h1>Миссия и ценности</h1> 
    <p>Мы даем людям уверенность и надежность, мы делаем их жизнь лучше, помогая реализовывать устремления и мечты.</p>

    Наша миссия определяет смысл и содержание деятельности банка. Наши клиенты, их потребности, мечты и цели есть основа 
    всей деятельности банка как организации. Миссия банка также устанавливает амбициозную цель наших устремлений
    — В СОСТАВЕ ГРУППЫ БАНКА стать одной из лучших финансовых компаний мира — и подчеркивает, насколько важны для 
    ГРУППЫ банка его сотрудники, и насколько реализация его целей невозможна без реализации их личных и профессиональных
    целей. Высокие цели достигаются командой единомышленников, которых объединяет общая система ценностей.



    <h1>Карьера в PozniakoFF Банке</h1>
    Актуальные вакансии, стажировка для студентов и анкета для тех, кто не нашел свое направление, но очень хочет работать в нашей команде

    <h1>Члены правления</h1>
</div>
<div class="mans-div">
    <div class="man-div">
        <img class="man-img" src="../../../assets/images/1man.png" alt="">
        <h2 class="man-text">Председатель Правления</h2>

    </div>
    <div class="man-div">
        <img class="man-img" src="../../../assets/images/2man.png" alt="">
        <h2 class="man-text">Зам. Председателя Правления</h2>

    </div>
    <div class="man-div">
        <img class="man-img" src="../../../assets/images/3man.png" alt="">
        <h2 class="man-text">Исполнительный директор Банка</h2>

    </div>
</div>